@charset "utf-8";


/* ==============================
 * header
 * ============================== */
#headerWrap {position:fixed; top:0; left:0; z-index:50; width:100%; height:60px; padding-left:20px; border-bottom:5px solid #085ec1; background:#fff;}
#headerWrap > h1 {height:55px;}
#headerWrap > h1 img {width:175px;}
#headerWrap > h1 a {display:inline-block; font-size:0;}

.utilMenu {position:absolute;right:20px;top:10px;}
.utilMenu a {display:block;text-decoration:none;font-size:15px;line-height:30px;font-weight:bold;color:#0d2e53;}


/* ==============================
 * common
 * ============================== */

/* input
.inputBox.full {display:block; width:auto; max-width:320px;}
.inputBox + .inputBox {margin-left:7px;}
.inputBox + .btn {margin-left:7px;}

input[type=radio] {margin:0 5px 3px 30px;}
input[type=radio]:first-child {margin-left:0;}
input[type=radio]:checked {background-color:#000;}
input[type=radio] + label {line-height:25px;}
.inputBox + .alertMessage {margin-top:7px;}
 */

 
input.full {width:100%;}
.inputBox {display:flex;}
.inputBox input {height:35px; padding:0 10px 0 10px; border:1px solid #b4bcc9; font-size:13px; -webkit-transition:all .2s ease; transition:all .2s ease; outline:none; border-radius:5px; font-family:'Open Sans', sans-serif;}
.inputBox input:focus {border:1px solid #78abea;}
.inputBox input + button {margin-left:15px;}


/* input file images upload 
.fileBox {position:relative; display:inline-block;}
.fileBox > label {display:inline-block; padding:0 17px; height:28px; font-weight:600; font-size:13px; color:#fff; line-height:28px; text-align:center; border-radius:5px; vertical-align:top; border:1px solid #abb8c5; background:#abb8c5; cursor:pointer;}
.fileBox > input[type="file"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}


/* tooltip 
.tooltip {position:relative; display:inline-block; font-size:0; width:19px; height:19px; vertical-align:top;}
.tooltip:before {content:''; position:absolute; top:0; left:0; width:19px; height:19px; background:url(../images/common/sprite_common.png) no-repeat -126px -160px;}
.tooltip > .tips {position:absolute; top:0px; left:28px; z-index:1; display:none; padding:6px 10px 7px 10px; font-size:11px; white-space:nowrap; border:1px solid #bfc2c6; background:#ebecef; border-radius:5px;}
.tooltip > .tips strong {display:block; font-weight:600;}
.tooltip > .tips:before {content:''; position:absolute; top:5px; left:-5px; border-right:5px solid #bfc2c6; border-top:4px solid transparent; border-bottom:4px solid transparent;}
.tooltip > .tips:after {content:''; position:absolute; top:5px; left:-3px; border-right:5px solid #ebecef; border-top:4px solid transparent; border-bottom:4px solid transparent;}
.tooltip:hover > .tips {display:block;}
.inputBox + .tooltip {top:5px; margin:0 0 0 5px;}


/* textarea 
.textareaDiv {font-size:14px; max-width:320px;}
.textareaDiv > .textarea {display:block; width:100%; height:100px; padding:10px; border-radius:5px; border:1px solid #b4bcc9; background:#fff; outline:none; font-size:13px;}
.textareaDiv > .textarea:focus {border:1px solid #78abea;}
.textareaDiv > .byte {text-align:right;}


/* checkbox 
.checkbox {display:inline-block; position:relative; padding:0 0 0 20px;}
.checkbox input { position:absolute; top:-20px; left:0; z-index:1; opacity:0;}
.checkbox label {display:block; font-weight:400; font-size:12px; color:#4e4f62; cursor:pointer; line-height:18px;}
.checkbox label:before {content:''; position:absolute; top:2px; left:0; width:14px; height:14px; border:1px solid #b4bcc9; -webkit-box-sizing:border-box; box-sizing:border-box; border-radius:3px;}
.checkbox input:checked + label:after {content:''; display:block; position:absolute; top:5px; left:3px; width:13px; height:9px; background:url('../images/common/sprite_common.png') no-repeat -126px 0;}

.switchChk {position:relative; display:inline-block; height:30px;vertical-align:top; overflow:hidden;}
.switchChk > input {position:absolute; top:-20px; left:0;}
.switchChk > label {position:relative; display:block; padding:0 0 0 70px; font-size:14px; line-height:30px; cursor:pointer;}
.switchChk > label:before {content:''; position:absolute; top:7px; left:8px; z-index:2; width:16px; height:16px; border-radius:50%; background:#d9d9d9; -webkit-transition:.45s; transition:.45s;}
.switchChk > label:after {content:''; position:absolute; top:0; left:0; width:58px; height:30px; border-radius:45px 45px 45px 45px; border:2px solid #d9d9d9; -webkit-box-sizing:border-box; box-sizing:border-box; -webkit-transition:.45s; transition:.45s;}
.switchChk > input:checked + label {}
.switchChk > input:checked + label:before {left:34px; background:#fff;}
.switchChk > input:checked + label:after {border:none; background:#0078d7;}
.switchChk > input:checked + label .txt1 {display:none;}
.switchChk > input:checked + label .txt2 {display:inline-block;}
.switchChk > label .txt2 {display:none;}

*/

/* btn */
.btn {position:relative; display:inline-block; padding:0 17px; min-width:70px; height:35px; font-weight:bold; font-size:14px; color:#fff; line-height:35px; text-align:center; border-radius:5px; vertical-align:top; background:#abb8c5;}
.btn:disabled {background:#e3e3e3;}
.btn.basic {color:#fff; background:#0b61ca;}
.btn.basic:disabled {background:#e0e1e2;}
.btn.dGray {background-color:rgb(59, 59, 59);}

.btn.bd {background-color:#FFF;color:#abb8c5;border:1px solid #abb8c5;}
.btn.bd_basic {background-color:#FFF;color:#0b61ca;border:1px solid #0b61ca;}
.btn.bd_dGray {background-color:#FFF;color:rgb(59, 59, 59);border:1px solid rgb(59, 59, 59);}

.btn.schBtn {position:relative; width:30px; height:30px; padding:0; background:#eceefb; overflow:hidden; border:none; border-radius:5px; text-indent:-999px;}
.btn.schBtn:before {content:''; position:absolute; top:7px; left:7px; width:16px; height:17px; background:url(../images/common/sprite_common.png) no-repeat -126px -140px;}
a.btn {text-decoration:none; color:#fff;}
.imgRemove {display:inline-block; width:14px; height:14px; font-size:0; text-indent:-999px; overflow:hidden; background:url(../images/common/sprite_common.png) no-repeat 0px -120px;}
.btn.addBtn {width:31px; height:30px; padding:0; text-indent:-999px; background:#fff; border:1px solid #dcdcdc; overflow:hidden;}
.btn.addBtn:before {content:''; position:absolute; top:5px; left:4px; width:23px; height:19px; background:url(../images/common/sprite_common.png) no-repeat -156px 0px;}
.btn.removeBtn {width:31px; height:30px; padding:0; text-indent:-999px; background:#fff; border:1px solid #dcdcdc; overflow:hidden;}
.btn.removeBtn:before {content:''; position:absolute; top:5px; left:4px; width:23px; height:19px; background:url(../images/common/sprite_common.png) no-repeat -156px -30px;}
.btn.close {display:inline-block; width:12px; height:12px; padding:0; font-size:0; overflow:hidden; text-indent:-999px; background:url(../images/common/sprite_common.png) no-repeat 0 -100px; border:none; line-height:normal; border-radius:0;}
.btn.utilMenu {position:relative; width:36px; height:36px; background:#fff; text-indent:-999px; border-radius:0; overflow:hidden; outline:none;}
.btn.utilMenu:after {content:''; position:absolute; top:7px; left:16px; width:4px; height:22px; background:url(../images/common/sprite_common.png) no-repeat -192px -80px;}
.btn.plus {width:30px; padding:0; background:#fff; border:1px solid #b4bcc9; overflow:hidden; text-indent:-999px;}
.btn.plus:before {content:''; position:absolute; top:13px; left:6px; width:16px; border-bottom:2px solid #0b61ca;}
.btn.plus:after {content:''; position:absolute; top:6px; left:13px; width:2px; border-bottom:16px solid #0b61ca;}
.btn.minus {width:30px; padding:0; background:#fff; border:1px solid #b4bcc9; overflow:hidden; text-indent:-999px;}
.btn.minus:before {content:''; position:absolute; top:13px; left:6px; width:16px; border-bottom:2px solid #0b61ca;}
.btn.error {background:#009fe8;}



/* gnb */
nav {position:fixed; top:60px; left:0; z-index:45; width:285px; height:calc(100% - 60px); padding-top:21px; background:#fff; border-right:1px solid #e1e0e8; overflow:hidden;}
nav {-webkit-box-shadow: 0px 5px 20px 0px rgba(31, 54, 95, 0.15);box-shadow: 0px 5px 20px 0px rgba(31, 54, 95, 0.15);}

.gnb {position:relative; width:285px; height:100%; padding:0 0 50px 0; overflow:auto; border-left:1px solid #e1e0e8;}
.gnbList > li {position:relative;}
.gnbList > li > a {display:block;padding-left:20px; font-size:16px; line-height:45px; font-weight:600; color:#3c3c3c; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;text-decoration:none;}
.gnbList > li > a:hover, .gnbList > li.on > a {font-weight:bold; color:#085ec1;}

.sub_gnb li a {display:block;padding-left:40px;line-height:30px;text-decoration:none;}
.sub_gnb li a:hover {font-weight:bold;}

/* editor 
.editorWrap {}
.editorWrap > #editor {height:150px;}
.editorWrap > .ql-container {height:150px;}
.ql-editor strong, .ql-editor strong * {font-weight:600;}
.ql-editor em, .ql-editor em * {font-style:italic;}
.ql-editor u, .ql-editor u * {text-decoration:underline;}
.editorWrap + .inpItem {margin-top:10px;}


/* error page
.errorPage {width:390px; padding:30px; border-radius:5px; -webkit-box-shadow: 3px 4px 20px 0px rgba(190, 192, 196, 0.7); box-shadow: 3px 4px 20px 0px rgba(190, 192, 196, 0.7);}
.errorPage > h1 {padding:0 0 15px 0; text-align:center; border-bottom:2px solid #085ec1;}
.errorPage > h1 + .errorTxt1 {margin-top:28px;}
.errorTxt1 {text-align:center; font-weight:600; font-size:20px; color:#0754d2; line-height:22px;}
.errorTxt2 {text-align:center; font-weight:600; font-size:13px; color:#181818; line-height:19px;}
.errorTxt1 + .errorTxt2 {margin-top:20px;}
.errorPage .btns {text-align:center;}
.errorPage .errorTxt2 + .btns {margin-top:39px;}


/* message popup
.messagePopup {position:fixed; top:1px; left:50%; -webkit-transform:translate(-50%, 0); transform:translate(-50%, 0); z-index:2001;}
.mpCont {display:table; width:346px; border:1px solid #4090eb; border-radius:5px; background:#fff; table-layout:fixed; -webkit-box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.07); box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.07);}
.mpCont.error {border:1px solid #f44167;}
.mpCont > dt {display:table-cell; vertical-align:middle; width:90px; height:49px; padding:10px; background:#177cee; font-weight:600; font-size:14px; color:#fff; text-align:center;}
.mpCont.error > dt {background:#f44167;}
.mpCont > dd {display:table-cell; vertical-align:middle; height:49px; padding:8px 12px; font-size:12px; color:#3d3e49; line-height:16px;}




/* ============ table ============  */
table {border-collapse: collapse;table-layout:fixed;}

h2.tit + .tblDefault, .srchFilter_box + .tblDefault {margin-top:50px;}
.tblDefault {width:100%;border-top:1px solid #dbdbdb;}
.tblDefault tr:hover {background-color:#f0f4f8;}

.tblDefault th, .tblDefault td {padding:10px;text-align:center;border-bottom:1px solid #dbdbdb;}
.tblDefault th {background-color:#f5f5f5;}
.tblDefault td.tit {text-align:left;}
.tblDefault td.tit a {display:block;text-decoration:none;white-space:nowrap;text-overflow: ellipsis;overflow:hidden;}
.tblDefault td.noTit {height:100px;}
.tblDefault textarea {width:100%;resize:none;}

td.tal {text-align:left;}

.bbs {margin-top:25px;}
.bbs th, .bbs td {padding:15px;line-height:25px;}
.bbs:first-child {margin-top:0;}
.bbs tr:hover {background:0 none;}
.bbs tr td {text-align:left;}
.bbs input[type=text], .bbs textarea {line-height:28px;border:1px solid #dbdbdb;border-radius:5px;}

.bbs .inputBox input[type=text] {width:70%;}


/* 에디터 영역 */
.editor_area {height:200px;}


/* button */
.srchFilter_box + .btnBox {margin:20px 0;}
.btnBox.tar {text-align:right;}


/* push 관련 */
.pushBox {position:relative;padding-right:10%;}
.pushBox textarea {height:100px;}
.pushBox .btn {position:absolute; right:0;top:0;}

.push_history li {padding-top:10px;}
.push_history li:first-child {padding-top:0;}



/* radio */
.radioBox input[type=radio] {margin:0 0 3px 25px;}
.radioBox input[type=radio]:first-child {margin-left:0;}
.radioBox input[type=radio] + label {margin-left:3px;}


/* 검색 영역*/
.bbs_selectBox {}
.bbs_selectBox select {width:150px;height:35px;padding-left:10px;font-size:15px;line-height:35px;border-color:#dbdbdb;}

.srchFilter_box {display:flex;justify-content:left;margin:15px 0 30px;padding:20px;background-color:#f7fcff;border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb;}
.srchFilter_box form {display:inline-flex;}
.srchBox {position:relative;width:370px;height:37px;background-color:#FFF;border:1px solid #dbdbdb;border-radius:5px;overflow:hidden;}
.srchBox input[type=text] {width:100%;height:35px;padding:0 30px 0 14px;font-size:15px;line-height:35px;border:0 none;}
.srchBox input[type=button] {position:absolute;top:10px;right:10px;display:block;width:16px;height:17px;background:url(../images/common/sprite_common.png) no-repeat -126px -140px;font-size:0;line-height:0;border:0 none;cursor:pointer;}


/* 필터 영역*/
.filterArea {display:flex;}

.filterBox {position:relative;margin:0 15px 0 45px;}
/*
.filterBox dl dt .btn_filter {box-sizing:border-box;display:block;width:80px;padding-left:30px;font-size:16px;font-weight:bold;line-height:34px;color:#4e79fc;text-decoration:none;}
.filterBox dl dt .btn_filter:after {content:'';position:absolute;left:5px;top:10px;width:15px;height:14px;background:url(../images/common/sprite_common.png) no-repeat -78px -50px;}
.filterBox dl dd ul {position:absolute;top:38px;left:5px;width:60px;background-color:#FFF;border:1px solid #000;z-index:10;}
.filterBox dl dd ul li a {display:block;padding:5px 10px;line-height:25px;text-decoration:none;}
.filterBox dl dd ul li a:hover {font-weight:bold;color:#000;}
*/

.filterBox dl {display:flex;}
.filterBox dl dt {box-sizing:border-box;display:block;width:80px;padding-left:30px;font-size:16px;font-weight:bold;line-height:34px;color:#4e79fc;;}
.filterBox dl dt:after {content:'';position:absolute;left:5px;top:12px;width:15px;height:14px;background:url(../images/common/sprite_common.png) no-repeat -78px -50px;}
/*
.filterBox{padding-left:30px;line-height:35px;}
.filterBox select {width:60px;font-size:16px;font-weight:bold;line-height:35px;color:#4e79fc;border-radius:0; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.filterBox select::-ms-expand{ display:none /* 화살표 없애기 for IE10, 11}

.filterSort span {position:relative;display:inline-block;margin-right:10px;background-color:#edf4ff;font-size:0;border:1px solid #edf4ff;border-radius:20px;-webkit-transition: .2s;transition: .2s;}
.filterSort span a {display:block;padding:8px 30px 9px 15px;font-size:14px;font-weight:bold;line-height:18px;color:#056bff;text-decoration:none;}
.filterSort span a:after {content:'';position:absolute;right:9px;top:8px;width:10px;height:10px;background:url(../images/common/sprite_common.png) no-repeat -20px -20px;color:#000;}
*/
.checkBox input[type=checkbox] {margin:0 5px 4px 20px;}
.checkBox input[type=checkbox] + label {font-size:15px; line-height:35px;}
.checkBox input[type=checkbox]:checked + label {font-weight:bold;color:#000;}


/* 게시판 버튼 */
.controlBox {position:relative;height:35px;margin-bottom:20px;}
.paging_selectBox {border-radius:5px;}
.paging_selectBox select {width:80px;height:35px;font-size:15px;}
.btnBox.tar {position:absolute;top:0;right:0;}


/* paging*/
.paging {position:relative;margin-top:50px;}
.paging > ul {margin-left:-80px;font-size:0;line-height:0;text-align:center;}
.paging > ul > li{position:relative;display:inline-block;padding:0 12px;vertical-align: middle;}
.paging > ul > li a {display:block;font-size:16px;line-height:24px;color:#333;text-decoration:none;}

.paging li.first a, .paging li.last a, .paging li.prev a, .paging li.next a {font-size:0;line-height:0;}
.paging li a:after {content:'';display:block;position:absolute;top:50%;left:50%;width:6px;height:9px;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);}
.paging li.first a:after { background:url(../images/common/icon/paging_first.png) no-repeat center;}
.paging li.last a:after { background:url(../images/common/icon/paging_last.png) no-repeat center;}
.paging li.prev a:after {background:url(../images/common/icon/paging_prev.png) no-repeat center;}
.paging li.next a:after { background:url(../images/common/icon/paging_next.png) no-repeat center;}
.paging a.active {font-weight:bold;}




